.image-grid {
	display: grid;
	grid-template-columns: repeat(3, 15em);
	grid-template-rows: repeat(3, 15em);
	height: 100%;
	gap: 1em 1em;
	align-items: stretch;
	justify-content: center;
}
.dog-pic {
	background-size: cover;
	width: 250px;
	height: 250px;
}
.dog-button {
	background-color: #007558;
	color: white;
	padding: 0.5em;
	border-radius: 0.5em;
}
