@import "~bootstrap/scss/bootstrap";

.App {
	display: flex;
	height: 100%;
	width: 100%;
	background-color: #282c34;
	color: white;
}

.container {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: hidden;
}
